/** Base Styles
 * -------------
 *
 * html is set to 62.5% so that all the REM measurements throughout Skeleton
 * are based on 10px sizing. So basically 1.5rem = 15px :)
 */

@require "../node_modules/normalize.css/normalize.css"

html,
button,
input,
textarea
  box-sizing border-box

*,
*:before,
*:after
  box-sizing: border-box

html
  font-size 62.5%

body
  color $font-text-color
  font-size 1.5em
  font-weight 400
  font-family $font-family
  line-height 1.6

