

$container-max-width = 960px

$font-text-color = #222
$font-family = "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif

$link-color = #1eaedb
$link-color-hover = #0fa0ce

$font-size-h1 = 3
$font-size-h2 = 2.6
$font-size-h3 = 2.2
$font-size-h4 = 2
$font-size-h5 = 1.8
$font-size-h6 = 1.6

$hr-color = #e1e1e1

