

$container-max-width = 960px

$font-text-color = #222

$link-color = #1eaedb
$link-color-hover = #0fa0ce

$head1-size = 4
$head2-size = 3.6
$head3-size = 3
$head4-size = 2.4
$head5-size = 1.8
$head6-size = 1.5
$head1-large-size = 5
$head2-large-size = 4.2
$head3-large-size = 3.6
$head4-large-size = 3
$head5-large-size = 2.4
$head6-large-size = 1.5

$hr-color = #e1e1e1

