/** Grid styles
 * -------------
 */

.container
  skel_container()

.column,
.columns
  skel_columns()

// for devices larger than 400px
@media (min-width: 400px)
  .container
    width 85%
    padding 0

@media (min-width 550px)
  .container
    width 80%

  .columns
    margin-left 4%

  .columns:first-child
    margin-left 0

  skel_12cols()
  skel_12offset()
