/** Typography Styles
 * -------------
 */

h1, h2, h3, h4, h5, h6
  rempx(margin-top, 2)
  rempx(margin-bottom, 2)
  font-weight 300

h1
  skel_typo_gen($font-size-h1, 1.2)

h2
  skel_typo_gen($font-size-h2, 1.25)

h3
  skel_typo_gen($font-size-h3, 1.3)

h4
  skel_typo_gen($font-size-h4, 1.35, -0.08)

h5
  skel_typo_gen($font-size-h5, 1.35, -0.05)

h6
  skel_typo_gen($font-size-h6, 1.6, 0)

p
  margin-top 0
